@model n01629177Cumulative1.Models.Student
@{
    ViewBag.Title = "Show";
}

<h2>
    @Model.studentFName @Model.studentLName
</h2>

<ul>
    <li>
        Student Number : @Model.studentNumber
    </li>
    <li>
        Enroll Date : @Model.enrollDate
    </li>
</ul>
