@model n01629177Cumulative1.Models.Student
@{
    ViewBag.Title = "Show";
}


<div class="flex h-space-between v-center">
  <a href="/Student/List" class="">Go Back</a>
</div>

<h2>
    @Model.studentFName @Model.studentLName
</h2>

<ul>
    <li>
        Student Number : @Model.studentNumber
    </li>
    <li>
        Enroll Date : @Model.enrollDate
    </li>
</ul>
