@model IEnumerable<n01629177Cumulative1.Models.Teacher>
@{
    ViewBag.Title = "List";
}

<form method="GET" action="/Teacher/List">
    <fieldset>
        <legend>Search by name</legend>
        <label for="name">Name</label>
        <input type="text" name="name" placeholder="John Doe"/>
        <input type="submit" value="search"/>
    </fieldset>
</form>

<br />
<hr />

<a href="/Teacher/New">Add a new teacher</a>
<a href="/Teacher/NewAjax">Add a new teacher (using AJAX)</a>
<div>&nbsp;</div>

<h2>List of Teachers :</h2>
<p>This page shows the list of teachers in the school's database.</p>


@foreach(var teacher in Model){
    <div>
        <a href="/Teacher/Show?teacher_id=@teacher.teacherId">
            @teacher.teacherFName @teacher.teacherLName
        </a>
    </div>
}
