@model IEnumerable<n01629177Cumulative1.Models.Class>
@{
    ViewBag.Title = "List";
}

<h2>List of Classes :</h2>
<p>This page shows the list of classes in the school's database.</p>

@foreach(var school_class in Model){
    <div>
        <a href="/Class/Show?class_id=@school_class.classId">
            @school_class.classCode : @school_class.className
        </a>
    </div>
}
