@model IEnumerable<n01629177Cumulative1.Models.Course>
@{
    ViewBag.Title = "List";
}

<h2>List of Courses :</h2>
<p>This page shows the list of courses in the school's database.</p>

@foreach(var course in Model){
    <div>
        <a href="/Course/Show?class_id=@course.classId">
            @course.classCode : @course.className
        </a>
    </div>
}
